<app-header-menu title="Administración"></app-header-menu>
<ion-content>
    <center style="padding: 20px;">
        <ion-card routerLink="/app/product-list" style="padding: 40px;" color="warning">
            <ion-icon color="light" style="font-size: 70px;" name="cart"></ion-icon>
            <div style="font-size: 23px; color: white;">Productos</div>
        </ion-card>

        <ion-card routerLink="/app/user-list" style="padding: 40px;" color="warning">
            <ion-icon color="light" style="font-size: 70px;" name="person-circle-outline"></ion-icon>
            <div style="font-size: 23px; color: white;">Usuarios</div>
        </ion-card>



    </center>



</ion-content>