<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<center style="padding-top: 50px;">
<ion-card style="border-radius: 20px;font-size: 13px;padding: 20px; ">

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <div style="padding-top: 20px;">
    <ion-button (click)="login()" shape="round">
      Acceder
    </ion-button>
  </div>

  <div style="padding-top: 20px;">
    <div style="padding-bottom: 20px;font-size: 13px;">¿No tienes cuenta?</div>
    <ion-button routerLink="/new-user" shape="round">
     Registrate
    </ion-button>
  </div>
  

</ion-card>

</center>



</ion-content>
